[submodule "themes/etch"]
	path = themes/etch
	url = https://github.com/LukasJoswiak/etch.git
[submodule "fireflylabs-blog/themes/etch"]
	path = fireflylabs-blog/themes/etch
	url = https://github.com/LukasJoswiak/etch.git
